body {
    margin: 0;
    background-color: #292929;
    overflow-x: hidden;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #292929;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  #main {
    transition: margin-left .5s;
    margin-left: 210px;
 
  }
  
  #main2 {
      margin-left: 230px;
  }
  
  .navbar {
    background: #1a1a1a;
    padding: 15px;
    opacity: 0.9;
  }
  
  .navbar a {
    text-decoration: none;
    color: gray;
  }
  
  .search {
    background: #2b2b2b;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
  }
  
  .search input {
    height: 25px;
    background: #2b2b2b;
    border: none;
    outline: none;
    color: white;
  }
  
  .profilenot {
    font-size: 25px;
  }
  
  .icons {
    font-size: 25px;
    float: right;
  }
  
  .icons-hover a {
    padding: 18px;
    margin-right: 50px;
    border-radius: 50%;
    transition: 0.25s;
  }
  
  .icons-hover a:hover {
    background: gray;
    color: white;
    opacity: 0.9;
    cursor: pointer;
  }
  
  
  /* Tooltips */
  .tooltip {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 15px;
  
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -50px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip2 {
    position: relative;
    display: inline-block;
    font-family: sans-serif;
  }
  
  .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 15px;
  
    margin-top: 30px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -50px;
  }
  
  .tooltip2:hover .tooltiptext2 {
    visibility: visible;
  }
  /* ------------------------- */
  
  .open {
    color: gray;
    margin-right: 50px;
    border-radius: 50%;
    padding: 18px;
    transition: 0.5s;
  }
  
  .open:hover {
    background: gray;
    color: white;
  }
  
  
  .profile {
    float: right;
  }
  
  .scrollbar
  {
      margin-left: 30px;
      float: left;
      height: 300px;
      width: 65px;
      background: #F5F5F5;
      overflow-y: scroll;
      margin-bottom: 25px;
  }
  
  .force-overflow
  {
      min-height: 450px;
  }
  
  #wrapper
  {
      text-align: center;
      width: 500px;
      margin: auto;
  }
  
  
  /* Notifications */
  #nottifications {
    width: 80%;
    background-color: #1a1a1a;
    margin-top: 20px;
    overflow-y: hidden;
    height: 450px;
    transition: 0.2s;
    display: none;
    opacity: 0.9;
    border: solid 1px gray;
    position: absolute;
  }
  
  .nottitle {
    width: 100%;
    border-bottom: 1px solid gray;
    height: 30px;
    color: white;
    font-size: 17px;
    font-family: monospace;
  }
  
  .nottitle p {
    margin-left: 15px;
  }
  
  .notifications {
    overflow-y: hidden;
    height: 100%;
  }
  
  .notifications:hover {
    overflow-y: scroll;
  }
  
  /* ---------------- Sidebar ------------------ */
  .sidebar1 {
    background: #1a1a1a;
    position: fixed;
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    left: 0;
    top: 0;
    z-index: 1;
    width: 210px;
  }
  
  .sidebar1 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0;
  }
  
  .sidebar1 .closebtn:hover {
    color: white;
    background: #1a1a1a;
  }
  
  .sidebar1 a {
    text-decoration: none;
    color: gray;
    padding: 12px;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar1 a:hover {
    color: white;
    background: gray;
  }
  
  .sidebar1 i {
    padding-right: 12px;
  }
  
  #last {
    border-bottom: solid #292929 1px;
  }
  
  #first {
    margin-top: 50px;
    background-color: gray;
    color: white;
    margin-top: 75px;
  }
  
  
  #profile {
    width: 35%;
    background-color: #1a1a1a;
    margin-top: 20px;
    overflow-y: hidden;
    height: 350px;
    transition: 0.2s;
    display: none;
    opacity: 0.9;
    border: solid 1px gray;
    position: absolute;
  }
  
  #proifle a:hover {
      background: none;
      font-family: sans-serif;
      margin-bottom: 0;
  }
  
  #profile a {
    text-decoration: none;
    color: gray;
    padding: 12px;
    display: block;
    transition: 0.3s;
  }
  
  #profile a:hover {
    color: white;
    background: gray;
  }
  
  #profile i {
    padding-right: 12px;
  }
  
  
  .profilna {
      border-radius: 50%;
      border: none;
      height: 50px;
      width: 50px;
  }
  
  .profilna:hover {
      cursor: pointer;
  }
  
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  html,
body {
  background-color: #fff;
  color: #202124;
  font-size: 15px;
  margin: 0;
  min-width: 360px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;

}

main {
  margin: 0 auto;
  max-width: 900px;
}

#placeholder {
  margin-top: 10vh !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#placeholder-logo {
  height: 120px;
  margin: 20px;
  opacity: 0.1;
  width: 120px;
}

#placeholder-text {
  color: #80868b;
  cursor: default;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
}

#form-container {
  border-radius: 8px;
  border: 0.5px solid #d3d3d3;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  margin: 32px auto 16px auto;
  max-width: 496px;
  transition-duration: 0.218s;
  transition-property: background, border, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
}

#form {
  position: relative;
  border: none;
  margin: 1px;
  border-radius: 8px;
  transition-duration: 0.218s;
  transition-property: background, border, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
}

.form-open {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.header-logo {
  height: 4em;
}

.header-title {
  color: #5f6368;
  font-size: 2rem;
  padding-top: 4px;
  padding-left: 4px;
}

#notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#note-text {
  width: calc(100% - 10px);
  min-height: 43px;
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
  letter-spacing: 0.00625em;
  border: 0;
  overflow: hidden;
  position: relative;
}

.modal-title {
  width: calc(100% - 10px);
  min-height: 43px;
  margin: 0 5px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00625em;
  border: 0;
  overflow: hidden;
  position: relative;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  padding-bottom: 12px;
  padding-top: 16px;
}

.modal-text {
  width: calc(100% - 10px);
  min-height: 43px;
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.00625em;
  border: 0;
  overflow: hidden;
  position: relative;
  color: #202124;
  font-size: 14px;
  line-height: 19px;
  min-height: 46px;
  padding: 4px 16px 12px 0px;
}

#note-title {
  display: none;
  width: calc(100% - 10px);
  min-height: 43px;
  margin: 0 5px;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border: 0;
}

#form:focus,
input:focus {
  outline: none;
}

#placeholder {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#form-buttons {
  display: none;
  text-align: right;
}

#submit-button,
#form-close-button {
  margin: 0.2em 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.01785714em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 36px;
  padding: 8px 24px;
  border-radius: 4px;
  border-color: transparent !important;
  background-color: rgb(251, 251, 251);
}

#submit-button {
  color: #fff;
  background-color: #007bff;
}

#submit-button:hover,
#form-close-button:hover {
  filter: brightness(95%);
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  width: 250px;
  background-color: #fff;
  border-color: #e0e0e0;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition-duration: 0.218s;
  transition-property: background, border, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
}

.note:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.note-title {
  padding-top: 12px;
  letter-spacing: 0.00625em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  min-height: 38px;
  padding: 16px 16px 0 16px;
  transition: background-color 0.218s ease-in;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
  min-height: 30px;
  letter-spacing: 0.01428571em;
  padding: 4px 16px 12px 16px;
  box-sizing: border-box;
  font-variant-ligatures: none;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.toolbar {
  opacity: 0;
  flex-direction: row-reverse;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  font-size: 12px;
  line-height: 26px;
  margin: 4px 0;
  position: relative;
  transition: opacity 0.218s ease-in-out, background-color 0.218s ease-in-out,
    box-shadow 0.218s ease-in-out;
}

.toolbar:hover {
  opacity: 1;
}

.toolbar-color,
.toolbar-delete {
  height: 20px;
  margin: 0 8px;
  width: 20px;
  margin: 0 3px;
  cursor: pointer;
  color: #202124;
  opacity: 0.71;
}

.toolbar-color-modal {
  display: none;
}

#color-tooltip {
  border-bottom: 2px solid #fff;
  position: absolute;
  top: -40;
  background: #fff;
  border: 1px solid black;
  left: 0;
  z-index: 20;
  border-radius: 5px;
  display: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 7px 3px;
  width: 136px;
  height: 40px;
  justify-content: space-between;
}

.color-option {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #dedede;
}

.color-option:hover {
  border: 1px solid black;
}

.modal {
  position: fixed;
  left: 0;
  z-index: 200;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 229, 229, 0.5);
  opacity: 0;
  visibility: hidden; /* keeps modal closed unless clicked on */
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.modal-close-button {
  float: right;
  margin: 0.2em 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.01785714em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 36px;
  padding: 8px 24px;
  border-radius: 4px;
  border-color: transparent !important;
  background-color: rgb(251, 251, 251);
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: rgba(95, 99, 104, 0.039);
}

.open-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#white {
  background: white;
}

#purple {
  background: #d7aefb;
}

#orange {
  background: #fbbc04;
}

#teal {
  background: #a7ffeb;
}

  